<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bad request</title>
    {% if redirect_url %}
    <meta http-equiv="refresh" content="5; url={{ redirect_url }}">
    {% endif %}
  </head>
  <body>

    <h1>Bad request</h1>
    <p>
        {{ error_message }}
    </p>

    {% if redirect_url %}
    <p>
        In a few seconds you will be redirected back to the {{ redirect_name }},
        if you don't want to wait use <a href="{{ redirect_url }}">this link</a>.
    </p>
    {% endif %}

  </body>
</html>