<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login failed</title>
    {% if redirect %}
    <meta http-equiv="refresh" content="5; url={{ redirect }}">
    {% endif %}
  </head>
  <body>

    <h1>Login failed</h1>
    <p>
        {{ message }}
    </p>

    {% if redirect %}
    <p>
        In a few seconds you will be redirected back to the authentication site,
        if you don't want to wait use <a href="{% url 'django_oac:authenticate' %}">this link</a>.
    </p>
    {% endif %}

  </body>
</html>